@font-face {
    font-family: "WebFont";
    src: url(files/VWAGTheSans_Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "WebFont", sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* NAVBAR */

.desktop{
    display: none;
}

.mobile{
    display: initial;
}

@media(min-width: 750px){
    .mobile{
        display: none;
    }
    .desktop{
        display: initial;
    }
}

header {
    height: 10vh;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    background-color: rgba(40, 40, 40, 40%);
    border-bottom: 1px solid #282828;

    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.right{
    text-align: right;
}

a.logo img{
    height: 100%;
    width: 120px;
}

header nav a{
    text-decoration: none;
    padding: 10px 10px;
}

header .desktop a:hover{
    background-color: rgba(40, 40, 40, 20%);
    border-radius: 5px;
}

/* MOBIL NÉZET */

/* PAGES */

section{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}